<section class='cuenta-section'>
	<h1>Inventario</h1>
	<ul class='col-md-6 col-xs-12'>
		<li *ngFor="let company of companies; let i = index; trackBy: trackByFn">
			<a id='nombre-{{ company.id }}'[routerLink]="['/compañia', company.id]">{{ company.nombre }}</a>
			<div>
				<span>$</span><p id='inventario-{{ company.id }}'>{{ company.cuentas.activos.inventario }}</p>
			</div>
		</li>
		<div id="chart_div"></div>
	</ul>
	<div class='mayor-data col-md-6 col-xs-12'>
		<p>La empresa con mayor inventario es: <strong id='nombreMayor'></strong></p>
		<p>Ya que contabiliza <strong id='cuentaMayor'></strong> en inventario</p>
		<img id='mayorImage' src="" alt="">
	</div>
</section>
