<div *ngIf="company">
	<h1>{{ company.nombre }}</h1>
	<h2>Datos de la compañia </h2>
		<p>{{ company.antecedentes.descripcion }}</p>
	<div class='col-xs-12 col-md-4'>
		<h2>Cuentas: </h2>
		<h4>Activos</h4>
			<ul>
				<li>
					<a href="activo-circulante">Activos Circulantes:</a>
					<span>$ {{ company.cuentas.activos.activosCirculantes }}</span>
				</li>
				<li>
					<a href="activo-fijo">Activo Fijo:</a>
					<span>$ {{ company.cuentas.activos.activosNoCirculantes.activosFijos }}</span>
				</li>
				<li>
					<a href="activo-diferido">Activos Diferidos:</a>
					<span>$ {{ company.cuentas.activos.activosNoCirculantes.activosDiferidos }}</span>
				</li>
				<li>
					<a href="inventario">Inventario:</a>
					<span>$ {{ company.cuentas.activos.inventario }}</span>
				</li>
				<li>
					<a href="cuentas-por-cobrar">Cuentas por cobrar:</a>
					<span>$ {{ company.cuentas.activos.cuentasXCobrar }}</span>
				</li>
			</ul>
		<h4>Pasivos</h4>
			<ul>
				<li>
					<a href="pasivo-circulante">Pasivos Circulantes:</a>
					<span>$ {{ company.cuentas.pasivos.pasivosCirculantes }}</span>
				</li>
				<li>
					<a href="pasivo-largo-plazo">Pasivos a Largo Plazo:</a>
					<span>$ {{ company.cuentas.pasivos.pasivosLargoPlazo }}</span>
				</li>
				<li>
					<a href="capital-contable">Capital Contable:</a>
					<span>$ {{ company.cuentas.pasivos.capitalContable }}</span>
				</li>
			</ul>
	</div>
	<div class='col-xs-12 col-md-4'>
		<h2>Estado de Resultados</h2>
			<ul>
				<li>
					<a href="ventas">Ventas:</a>
					<span>$ {{ company.cuentas.estadoDeResultados.ventas }}</span>
				</li>
				<li>
					<a href="costo-de-ventas">Costo de ventas</a>
					<span>$ {{ company.cuentas.estadoDeResultados.costoVentas }}</span>
				</li>
				<li>
					<a href="utilidad-antes-de-impuestos">Utilidad Antes de Impuestos</a>
					<span>$ {{ company.cuentas.estadoDeResultados.utilidadAntesDeImpuestos }}</span>
				</li>
				<li>
					<a href="utilidad-neta">Utilidad Neta</a>
					<span>$ {{ company.cuentas.estadoDeResultados.utilidadNeta }}</span>
				</li>
				<li>
					<a href="impuesto">Impuesto</a>
					<span>{{ company.cuentas.estadoDeResultados.impuesto }}</span>
				</li>
			</ul>
	</div>
	<div class='col-xs-12 col-md-4'>
		<h2>Información Empresarial</h2>
		<h3>Rentabilidad</h3>
			<ul>
				<li>
					<strong>Rendimiento Capital: </strong>
					<span> {{ company.cuentas.estadoDeResultados.utilidadNeta / company.cuentas.pasivos.capitalContable }}</span>
				</li>
				<li>
					<strong>Rendimiento de Activos: </strong>
					<span> $ {{ company.cuentas.estadoDeResultados.utilidadNeta *(1 - company.cuentas.estadoDeResultados.impuesto ) / ( company.cuentas.activos.activosCirculantes + company.cuentas.activos.activosNoCirculantes.activosFijos + company.cuentas.activos.activosNoCirculantes.activosDiferidos) }}</span>
				</li>
				<li>
					<strong>Margen de Utilidad: </strong>
					<span> $ {{ company.cuentas.estadoDeResultados.utilidadNeta / company.cuentas.estadoDeResultados.ventas }}</span>
				</li>
				<li>
					<strong>Multiplicador Capital: </strong>
					<span> {{ ( company.cuentas.activos.activosCirculantes + company.cuentas.activos.activosNoCirculantes.activosFijos + company.cuentas.activos.activosNoCirculantes.activosDiferidos) / company.cuentas.pasivos.capitalContable }}</span>
				</li>
			</ul>
		<h3>Deuda</h3>
			<ul>
				<li>
					<strong>Razón de deuda total: </strong>
					<span> {{ ( company.cuentas.pasivos.pasivosCirculantes + company.cuentas.pasivos.pasivosLargoPlazo + company.cuentas.pasivos.capitalContable ) / ( company.cuentas.activos.activosCirculantes + company.cuentas.activos.activosNoCirculantes.activosFijos + company.cuentas.activos.activosNoCirculantes.activosDiferidos) }}</span>
				</li>
				<li>
					<strong>razonDeudaPatrimonio: </strong>
					<span> {{ ( company.cuentas.pasivos.pasivosCirculantes + company.cuentas.pasivos.pasivosLargoPlazo + company.cuentas.pasivos.capitalContable ) / company.cuentas.pasivos.capitalContable }}</span>
				</li>
			</ul>
		<h3>Rotación</h3>
			<ul>
				<li>
					<strong>Periodo de Cobranza: </strong>
					<span> {{ ( company.cuentas.activos.cuentasXCobrar*360 ) / company.cuentas.estadoDeResultados.ventas }}</span>
				</li>
				<li>
					<strong>Rotación de Inventarios: </strong>
					<span> {{ company.cuentas.estadoDeResultados.ventas / company.cuentas.activos.inventario }}</span>
				</li>
			</ul>
		<h3>Liquidéz</h3>
			<ul>
				<li>
					<strong>Razón Circulante: </strong>
					<span> $ {{ company.cuentas.activos.activosCirculantes / company.cuentas.pasivos.pasivosCirculantes }}</span>
				</li>
				<li>
					<strong>Prueba de Acidéz: </strong>
					<span> $ {{ company.cuentas.activos.activosCirculantes - company.cuentas.pasivos.pasivosCirculantes }}</span>
				</li>
			</ul>
	</div>
	
	
</div>
